@model PagedList.IPagedList<ProjetoFinal2._0.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<center>
    <img src="~/imagens/logo3.png" />
    <h2>Produtos</h2>
</center>

<p>
    @Html.ActionLink("Novo Produto", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Category.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Tax.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Tax.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Image))
                {
                    <img src="@Url.Content(item.Image)" alt="Image" style="width:65px;height:65px;max-width: 100%; height: auto;" />

                }
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Stock)

            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ProductId }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ProductId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


